<style>
    .addp{
       background: #BEC6DE;
       position: absolute; 
       padding: 20px;
       left: 30px;
       box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
       width: 80%;
       height: 70%;
    }
    .form-control{
        text-decoration: none;
    }
    .test{
        text-decoration: none;
        background: red;
    }
</style>

{% extends 'base.html' %}
{% block content %}

<h1>Add Program</h1>
<!-- for the instructor to add a new program -->

<div class="input-group mb-3">
    <form method="post" action="{% url 'addProgram' %}">
        {% csrf_token %}
        <!-- <label for="" id="basic-addon1">Your Name</label>
        {{ form.name }}

        <label for="" id="basic-addon1">Description</label>
        {{ form.description }}
        
        <label for="" id="basic-addon1">Start Date</label>
        {{ form.start_date }}
        
        <label for="" id="basic-addon1">End Date</label>
        {{ form.end_date }}
        
        <label for="" id="basic-addon1">Duration</label>
        {{ form.duration }}
        
        <label for="" id="basic-addon1">Level</label>
        {{ form.level }}
        
        <label for="" id="basic-addon1">Location</label>
        {{ form.location }}
        
        <label for="" id="basic-addon1">Seats</label>
        {{ form.seats }} -->

      <form>
        <div class="form-group">
          <label for="name">Name:</label>
        <div class="test">
          <p  name="name">{{ form.name }}</p>
        </div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea class="form-control" id="message" placeholder="Enter your message" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
        

        
        <!-- </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">{{ form.name }}
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">{{ form.description }}
            <span class="input-group-text" id="basic-addon2">Description</span>
          </div>
          
          <div class="mb-3">
            <label for="basic-url" class="form-label">Your vanity URL</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="form-text">Example help text goes outside the input group.</div>
          </div>
          
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control">
            <span class="input-group-text">.00</span>
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Server" aria-label="Server">
          </div>
          
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div> -->
        
        <input type="submit" class="btn" value="Add">
    </form>
{% endblock %}
