<style>
    #card{
        background: #8D98CD;
        padding: 50px;
        /* width: 100%; */
        border-radius: 30px;
        box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #row2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .btn_wrapper{
        display: flex; 
        flex-direction: row;
       align-items: center;

    }
    #title{
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        text-align: left;
    }
    #btn_D{
        margin: 15px;
        position: relative;
        width: 50px;
        top: 50px;
        left: 15%;
        background: #39556F;
        border: 0px transparent;
        font-weight: bold;
        box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);

    }
</style>
<!-- for the instructor -->
{% extends 'base.html'%}
{% block content %}


<h1>Your Program List</h1>



<!--? esraa form -->
    <!-- <a href="">
        <div class="card" id="card">
            <div class="card-content">
                <span class="card-title">{{ program.name }}</span>
            </div>
        </div>
    </a>
</div> -->
<!--? perfect one -->
    <div class="row" id="row2">
        {% for program in program_list %}
        <div class="col-sm-6">
            <div class="card-body" id="card">
                <h3 class="card-title" id="title">{{ program.name }}</h3>
                <hr>
                <p class="card-text"> {{ program.start_date }} - {{ program.end_date }}</p>
                <p class="card-text">{{ program.description }}</p>
                <p class="card-text"><span>Level: </span>{{ program.level }} <br> <span>Duration: </span>{{ program.duration }} <span></span></p>
                <div class="btn_wrapper">
                    <a href="{% url 'program_delete' program.id %}" class="btn btn-primary" id="btn_D"><i class="fa-solid fa-trash"></i></a>
                    <a href="{% url 'program_update' program.id %}" class="btn btn-primary" id="btn_D"><i class="fa-solid fa-pen"></i></a>
                    <a href="" class="btn btn-primary" id="btn_D" style="width: 150px;"><i class="fa-solid fa-list" style="margin-right: 10px;"></i>  Student List</a>
                    
                </div>
            </div>
        </div>
<!--boo696rab -->
<!-- <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
</div> -->
{% endfor %}
{% endblock %}