<style>
    .containerlist{
      position: relative;
      background: #8D98CD;
      margin: 30px;
      box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.1);
      /* align-items: center; */
      padding: 150px;
  
    }
    .list-group{
      position: relative;
      /* align-items: center; */
      /* justify-content: center; */
    }
   
</style>
{% extends 'base.html'%}
{% block content %}
  
  <div class="containerlist">
    <!-- {for loop} -->
  <table class="table table-success table-striped " id="color">
    <tr>
      <th>Student name</th>
      <th> Email</th>
      <th> Age</th>
      <th> Gender</th>
    </tr>
    <!-- begining for the loop -->
    <tr>
      <td>ali</td>
      <td>student01@gmail.com</td>
      <td>22</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>sara</td>
      <td>student03@gmail.com</td>
      <td>22</td>
      <td>Female</td>
    </tr>
    
  </table>
  <!-- {{ endfor }} -->
  </div>
  {% endblock %}