{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crafty Creation</title>
   
</head>
<body>
    <header class="navbar-fixed">
        <nav>
          
                <ul>
                  <li><a href="{% url 'home' %}">Crafty Creation</a></li>
                  <li><a href="{% url 'signup' %}">Sign Up</a></li>
                
                  <li><a href="{% url 'addProgram' %}">Add Program</a></li>                  
                </ul>
       
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div> All rights</div>
    </footer>
    
</body>
</html>